* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body, html {
    margin: 0;
    padding: 0;
    background: #4f80a5;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden;
}

#snowCanvas{
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}

.scene{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

/* Scene 1: Sun*/
#sun {
  color:#266774;
  text-shadow: 0 0 10px rgba(0,212,255,0.5);
  font-family: 'Arial Black', sans-serif;
  font-size: 8rem;
  font-weight: 900;
  position:relative;
  background: linear-gradient(
    to top, 
    #ffcc33 0%,
    #ff6600 25%,
    #2c3e50 50%, 
    #2c3e50 100% 
  );
  background-size: 100% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rise 5s ease-in-out infinite alternate;
}

#scene1{
background: linear-gradient(to bottom, #ffeb3b 0%, #ffffff 100%);
overflow: hidden;
height: 100vh;
}

@keyframes rise {
  0% { background-position: 0% 100%; } 
  100% { background-position: 0% 0%; } 
}

/* Scene 2: Mountain Rise */
#mountain{
  font-size: 5rem;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 10px solid transparent;
  animation: riseUp 20s ease-out forwards;
  animation-iteration-count: infinite;
  color: #9ebff0; 
  margin-top: 1%;
}

#scene3{
  background-color: white;
}

@keyframes riseUp {
from { 
    transform: translateY(500px); opacity: 0; 
}
to { 
transform: translateY(10px); opacity: 1; 
    }
}

/* Scene 3: Snowfall */

#snowfall{
font-size: 5rem; 
color: #ffffff; 
margin: 190px; 
display: inline-block; 
animation-duration: 5s;
animation-fill-mode: forwards;
animation-name: introAnimate;
animation-timing-function: 25s ease-in-out;
animation-iteration-count: infinite;
background-size: 150% 400%;
}


@keyframes introAnimate {
    from {
        background-color: #333333;
    }
    to {
        background-color: white;
    }
}

/* Scene 4: Spinning Loop */
#spinning-wrap {
  animation: spinAround 10s linear infinite;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-timing-function: alternate;
   color: green;
}

@keyframes rotate {
from { 
    margin-left: 150%;
    transform: rotate(0deg); 
}
to {
     margin-left: 0%;
    transform: rotate(720deg); 
    }
}